nav {
    background-color: #ECE0F5;
    color: #cc8ece;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  form {
    margin: 20px 0;
  }
  